#formWrap {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0 3rem 0 3rem;
}

form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-self: center;
    width: 80%;
    max-width: 400px;
    padding: 0 2rem 0 2rem;
}

form.h1, form.h2 {
    padding: 0;
    margin: 0;
}

#submit {
    display: inline;
    width: 100px;
    padding: .5rem;
    margin-top: .5rem;
    background-color: green;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 10px;
}

#submit.button:hover {
    background-color: rgb(9, 90, 9);
}

label {
    margin-bottom: .5rem;
    font-size: .9rem;
    font-weight: 700;
}

.formItem {
    display: block;
    margin-top: .3rem;
    width: 100%;
    border-radius: 5px;
    border: solid 1px gray;
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.05);
    height: 35px;
}

#messageInput {
    height: 150px;
    width: 100%;
    text-align: left;
    display: block;
    
}

@media only screen and (min-width: 620px) { 
    form {
        align-self: flex-start;
        justify-self: flex-start;
    }

    .item {
        max-width: 900px;
    }
}