/* Basic cleanup and body rules */

html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body, html {
    margin: 0;
    padding: 0;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    background-color: rgb(31, 39, 68);
    min-height: 100vh;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(224, 99, 77);
    font-weight: 700;
}

/*  Class to assign to outer wraps
    Makes container fill screen and
    Center content in Rows */

.centerWrap {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 80%;
    max-width: 1024px;
    background-color: rgb(250, 251, 252);;
}

.flexContRow {
    display: flex;
    flex-direction: row;
}

.flexContCol {
    display: flex;
    flex-direction: column;
}

/* Header Rules */

.headCenterWrap {
    margin: 0;
    padding: 0;
    justify-content: center;
    background-color: rgba(54, 43, 102,1);
    flex-basis: 80%;
    max-width: 1024px;
}

.headWrap {
    max-width: 1024px;
}

header {
    margin: 0;
    padding: 0;
    min-width: 100vw;
    justify-content: center;
    background-color: grey;
}

/* 
    Logo Bar changes depending on media queries
    logo & logoHeading have a button version for mobile
    these both function as buttons along with hamburgerBtn
    to expand nav menu for mobile. These elements are all hidden
    on larger formats, as the nav switches formats
*/


.logoBar h1 {
    display: inline;
    order: 3;
    font-size: 1.8rem;
    padding: 0 0 0 .2rem;
    bottom: 0px;
    color: aliceblue;
}

/* Logo for large and medium screens */
.logo {display: none;}

/* Logo and nav expander for mobile */
.logoSm {
    display: inline;
    cursor: pointer;
    background: none;
    order: 2;
    height: 48px;
    padding: .1rem .2rem .2rem .4rem;
    transform: rotate(10deg);
}

/* Logo text for small screen */
#logoHeading {
    order: 3;
    padding-top: 12px;
    cursor: pointer;
}
/* Logo text for large and medium screens */
#logoNoLink {
    display: none;
}

#hamburgerBtn { 
    align-self: flex-start;
    background: none;
    border:none;
    color: aliceblue;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
    padding: .45rem 0 0 .3rem;
}

/* navigation rules */

#navWrap {margin: 0; padding: 0; height:auto;}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    flex-basis: 80%;
    max-width: 1024px;
    margin: 0;
    padding: 0;
    z-index: 1;    
    background-color: rgba(54, 43, 102,1);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.05);
}

nav ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    width: 100%;
    padding: .2rem 1rem 0 1rem;
    /* display: none; */
    overflow-y: hidden;
    height: 0px;
    transition: height .8s ease-out;
}

/* 
    Nav rules for expanding menu
    .open indicates the appearance
    when menu is expanded. This is handled by JS
*/

nav ul.open {
    background-color: rgba(54, 43, 102,1);
    display: flex;
    flex-direction: column;
    height: 230px;
    padding: .2rem 1rem .5rem 1rem;
    transition: height .8s ease-out;
    display: block;
}

nav ul.open a{
    font-size: 1.3rem;
    padding-bottom: .5rem;
    padding: .3rem;
    margin: 0 0 .2rem 0;
    justify-self: center;
}

/* Box shadow and background color
    Transition animation to fade on mouse hover */

nav li {
    font-size: 1.3rem;
    padding-bottom: .5rem;
    margin: 0 0 .2rem 0;
    justify-self: center;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.15);
    transition: background-color 1s ease-out, box-shadow .5s ease-out;
}

.item:hover {
    transition: background-color 1s ease-out, box-shadow .5 ease-out;
    background-color: rgba(216, 205, 205, 0.2);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
}

.item.active {
    background-color: rgb(34, 26, 75);
}

nav a {
    color: aliceblue;
    font-weight: 700;
    padding: .5rem;
    text-decoration: none;
}

/* Main Content Rules */

main {
    min-width: 100%;
    min-height: 100%;
    flex-grow: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    background-color: grey;
}

article {
    background-color:rgb(250, 251, 252);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
}

article > div{
    margin: 0;
    padding: 1rem 2rem .5rem 2rem;
    height: 100%;
    width: 100%;
}

article > div > h1, article > div > h2 {
    display: block;
    padding: 0;
    margin: 0 0 .5rem 0;
}

article > div > p {
    max-width: 700px;
    margin: 0 0 .5rem 0;
    padding: 0;
}

article > div > img {
    width: 100%;
}

.centerWrap div {
    width: 80%;
}

/* Footer Rules */

.footWrap {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 80%;
    background-color: rgb(250, 251, 252);;
}

footer {
    background-color: grey;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.footItem {
    padding: 0rem 2rem;
    margin: .5rem .05rem .5rem .05rem;
    flex: 1 1 auto;
    background-color: rgb(250, 251, 252);
    color: black;
}

.footText {
    margin: 0;
    padding: 0;
}

.footText h3 {
    margin: .3em .3em .3em 0;
}

.footText p {
    margin: .3em .3em .3em 0;
}

#outerFoot {
    width: 80%;
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(250, 251, 252);;
}