@media only screen and (min-width: 620px) {
    nav button {display: none;}
    nav {
        display: flex;
        flex-direction: row;
    }
    nav ul {
        display: flex;
        flex-direction: row;
    }

    nav li {
        padding: .5rem 1rem .5rem 1rem;
        font-size: 1.2rem;
    }

    .footWrap {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        color: white;
    }
}

@media only screen and (min-width: 1024px) {
    .logo {
        display: block;
        min-width: 100%;
        padding: 1rem .5rem 1rem .5rem;
        background-color: cornflowerblue;
    }

    nav {
        flex-wrap: wrap;
    }

    nav li {
        font-size: 1.6rem;
    }
}