/* Basic cleanup and body rules */

html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body, html {
    margin: 0;
    padding: 0;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    background-color: rgb(31, 39, 68);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(224, 99, 77);
    font-weight: 700;
}

/*  Class to assign to outer wraps
    Makes container fill screen and
    Center content in Rows */

.centerWrap {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 80%;
    max-width: 1024px;
}

/* Header Rules */

.headCenterWrap {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(54, 43, 102,1);
    flex-basis: 80%;
    max-width: 1024px;
}

.headWrap {
    display: flex;
    flex-flow: column wrap;
    background-color: rgba(54, 43, 102,1);
    flex-basis: 80%;
    max-width: 1024px;
}

header {
    margin: 0;
    padding: 0;
    min-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: grey;
}

/* 
    Logo Bar changes depending on media queries
    logo & logoHeading have a button version for mobile
    these both function as buttons along with hamburgerBtn
    to expand nav menu for mobile. These elements are all hidden
    on larger formats, as the nav switches formats
*/

.logoBar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    flex-basis: 100%;
    margin: 0;
}

.logoBar h1 {
    display: inline;
    order: 3;
    font-size: 1.2rem;
    padding: 0 0 0 .4rem;
    color: aliceblue;
}

/* Logo for large and medium screens */
.logo {display: none;}

/* Logo and nav expander for mobile */
.logoSm {
    display: inline;
    position: relative;
    cursor: pointer;
    z-index: 1;
    background: none;
    height: 44px;
    top: 2px;
    padding: .2rem .2rem .4rem .4rem;
    margin: 0;
}

/* Logo text for small screen */
#logoHeading {
    order: 3;
    justify-self: flex-start;
    align-self: flex-start;
    padding-top: 12px;
    cursor: pointer;
}
/* Logo text for large and medium screens */
#logoNoLink {
    display: none;
}

#hamburgerBtn { 
    align-self: flex-start;
    background: none;
    border:none;
    color: rgb(166, 157, 201);
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    padding: .5rem 0 0 0;
}

/* navigation rules */

#navWrap {margin: 0; padding: 0; height:auto;}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-basis: 80%;
    max-width: 1024px;
    margin: 0;
    padding: 0;
    z-index: 1;    
    background-color: rgba(54, 43, 102,1);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.05);
}

nav ul {
    
    list-style-type: none;
    margin:0;
    padding: 0;
    width: 100%;
    margin: 0;
    display: none;
}

/* 
    Nav rules for expanding menu
    .open indicates the appearance
    when menu is expanded. This is handled by JS
*/

nav ul.open {
    background-color: rgba(54, 43, 102,1);
    display: flex;
    flex-direction: column;
    padding: .2rem 1rem .5rem 1rem;
}

nav ul.open li{
    font-size: 1.5rem;
    padding-bottom: .5rem;
    padding: .5rem;
    margin: .2rem 0 .2rem 0;
    justify-self: center;
}

nav li {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    transition: background-color 1s ease-out, box-shadow 1s ease-out;
}

nav li:hover {
    transition: background-color 1s ease-out, box-shadow 1s ease-out;
    background-color: rgba(216, 205, 205, 0.2);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

nav > ul > li.active {
    background-color: rgba(54, 43, 102,1);
}

nav a {
    color: aliceblue;
    font-weight: 700;
    text-decoration: none;
}

/* Main Content Rules */

main {
    min-width: 100%;
    min-height: 100%;
    flex-grow: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    background-color: grey;
}

article {
    background-color:rgb(250, 251, 252);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
}

article > div{
    margin: 0;
    padding: 1rem 2rem .5rem 2rem;
    height: 100%;
}

article > div > h1, article > div > h2 {
    display: block;
    padding: 0;
    margin: 0 0 .5rem 0;
}

article > div > p {
    max-width: 700px;
    margin: 0 0 .5rem 0;
    padding: 0;
}

article > div > img {
    width: 100%;
}

/* Footer Rules */

.footWrap {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    background-color: white;
}

footer {
    background-color: grey;
    margin: 0;
    display: flex;
    justify-content: center;
    min-width: 100vw;
}

.footItem {
    padding: 0rem 2rem;
    margin: .5rem .25rem .5rem .25rem;
    flex: 1 1 auto;
    background-color: rgb(250, 251, 252);
    color: black;
}

.footText {
    margin: 0;
    padding: 0;
}

.footText h3 {
    margin: .3em .3em .3em 0;
}

.footText p {
    margin: .3em .3em .3em 0;
}
