@media only screen and (min-width: 680px) { 

    .logo {
        display: inline;
        font-weight: 700;
        font-size: 1.8rem;
        cursor: default;
        padding: .2rem .3rem .1rem .3rem;
        height: 65px;
        margin: 0;
        z-index: 1;
    }

    .logoBar {
        max-height: 34px;
    }

    .logoSm {
        display: none;
    }

    #logoHeading {
        display: none;
    }

    #logoNoLink {
        display: inline;
        font-size: 1.2rem;
        justify-self: center;
        z-index: 2;
    }
         
    #hamburgerBtn {display: none;}

    nav button {display: none;}

    nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        flex-basis: 80%;
        height: 38px;
        align-self: flex-end;
        max-width: 1024px;
        background: none;
        padding: 0 .5rem .3rem 0;
        margin:0;
    }

    header {
        margin:0;
        padding: 0;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: auto;

    }

    nav li {
        padding: .5rem .5rem .5rem .5rem;
        font-size: 1rem;
        font-weight: 700;
    }

    .footWrap {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        color: white;
    }

}

@media only screen and (min-width: 999px) {
    .logoBar {
        display: flex;
        min-width: 100%;
        padding: .1rem .5rem .01rem .5rem;
        max-height: 100px;
        background-color: brown;
    }

    .logo {
        height: 90px;
        padding: .3 .1rem 1rem .1rem;
    }

    #logoNoLink {
        display: inline;
        align-self: center;
        /* height: 40px; */
        padding: 0;
        font-size: 3rem;
    }


    nav {
        height: auto;
        flex-wrap: wrap;
        align-self: flex-start;
        padding-left: 20px;
        margin: 0;
    }

    nav ul {
        display: flex;
        position: initial;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background-color: none;
        bottom: 0;
    }

    nav li {
        font-size: 1rem;
        font-weight: 700;
        padding: .75rem 1rem .75rem 1rem;
    }

    .articleImg {
        max-width: 700px;
    }

    .footWrap {
        max-width: 700px;
    }

}