html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body, html {
    margin: 0;
    padding: 0;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    background-color: rgb(31, 39, 68);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(224, 99, 77);
}

.centerWrap {
    margin: 0;
    padding: 0;
    flex-direction: row;
    flex-grow: initial;
    flex-basis: 80%;
    max-width: 1024px;
}

header {
    margin: 0;
    min-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(54, 43, 102);
}

.logoBar {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: flex-start;
}

.logoBar {
    display: inline;
}

.logo {
    font-size: 2rem;
    justify-content: center;
    align-self: center;
    padding: 0 1rem 0 1rem;
    margin: 0;
    background-color: brown;
}


/* navigation rules */

#hamburgerBtn { 
    align-self: flex-start;
    background: none;
    border:none;
    color: #fff;
    font-size: 2.4rem;
    cursor: pointer;
    padding: 0 .2rem 0 0;
}

nav {
    margin: 0;
    z-index: 1;    
    width: 80%;
    background-color: rgb(54, 43, 102);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.05);
}

#navWrap {margin: 0; padding: 0; height:auto;}

nav ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    width: 100%;
    margin: 0;
    display: none;
}

nav ul.open {
    display: block;
    padding: .5rem 3rem .5rem 1.5rem;
}

nav ul.open li{
    font-size: 1.5rem;
    padding-bottom: .5rem;
    padding-left: 2rem;
}

nav li.active {
    background-color: rgba(0,0,0,0.5);
}

nav li:hover {
    transition: background-color 2.5s ease;
    background-color: rgba(216, 205, 205, 0.2);
}

nav a {
    color: aliceblue;
    font-weight: 500;
    text-decoration: none;
}


main {
    min-width: 100%;
    min-height: 100%;
    flex-grow: 2;
    display: flex;
    justify-content: center;
}

/* Article Tag */

article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 5px 3px 1px rgba(255, 255, 255, 0.05);
}

article > div{
    margin: 0;
    background-color:rgb(250, 251, 252);
    padding: 1rem 2rem .5rem 2rem;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
}

article > div > h1, article > div > h2 {
    min-width: 100%;
    padding: 0;
    margin: 0 0 .5rem 0;
}

article > div > p {
    max-width: 750px;
}

article > div > img {
    width: 100%;
}

/* Footer Rules */

footer {
    background-color: rgb(54, 43, 102);
    margin: 0;
    display: flex;
    justify-content: center;
    min-width: 100vw;
    box-shadow: 0px -3px 1px rgba(0, 0, 0, 0.05);
}

.footWrap {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    color: white;
    margin: .5rem 0 .5rem 0;
}

.footItem {
    padding: 0rem 2rem;
    margin: .5rem 0 .5rem 0;
    background-color: darkslategray;
}

.footText {
    margin: 0;
    padding: 0;
}

.footText h3 {
    margin: .3em .3em .3em 0;
}

.footText p {
    margin: .3em .3em .3em 0;
}
